<nav>
  <ul>
    <li><%= link_to "首頁", root_path %></li>
    <li><%= link_to "看板列表", boards_path %></li>
    <li><%= link_to "註冊", users_sign_up_path %></li>
    <li><%= link_to "登入", users_sign_in_path %></li>
  </ul>
</nav>